{{!-- iterated for each comment --}}
<div class="comment">
    <div class="row comment-text">
            {{comment}}
        </div>
        <div class="row comment-user justify-content-end">
            -- {{user.username}} -- {{timestamp}}
        </div>
    </div>
</div>