{{!-- iterated for loggedIn user specific posts --}}
<div class="post-card container post post-delete">
    <div class="post-header">
        <div class="row justify-content-between">
            <div class="col-4 text-center">
                <a class="postClick" href="/post/edit/{{id}}">{{title}}</a>
            </div>
            <div class="col-8">
                -- {{user.username}} -- {{timestamp}}
            </div>
        </div>
    </div>
</div>