   <section class="card m-2 border border-1 border-info">
    {{> post-details}}
   </section> 

   <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card m-2 border border-1 border-info p-3 w-75">
            <label for="comment" class="mb-2">Add a comment</label>
            <textarea id="newComment" rows="3" class="form-control"></textarea> 
        </div>
        <div class="my-2">
            <button type="submit" id="add-comment-btn" class="btn btn-primary">Submit Comment</button>
        </div>
        <div class="my-5">
            <a id="see-all-comments">Click here to see all comments for this post</a>
        </div>
   </div>
    
    <script src="/js/comment.js"></script>