{{!-- dashboard specific URL load --}}
<nav>
    {{#if loggedIn}}
        <a href="/">Home</a>
        <button id="logout">Logout</button>
    {{else}}
        <a href="/login">Login</a>
    {{/if}}
</nav>
<main class="container container-fluid mt-5">
    <div class="column justify-space-around">
        {{#if loggedIn}}
            <p class="returnLink">Logged in as {{username}}</p>
            <div class="post-card">
                <h4 class="page-title">Add a post</h4>
                <form class="form post-form" id="post-form">
                    <div class="form-group">
                        <label for="post-title">Post title:</label>
                        <input class="form-input" type="text" id="post-title" />
                    </div>
                    <div class="form-group">
                        <label for="post-text">Contents:</label>
                        <textarea class="form-input" type="text" id="post-text"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </form>
            </div>
            {{#each posts as |post|}}
                {{>dashboard-posts}}
            {{/each}}
            <script src="./js/createPost.js"></script>
            <script src="./js/logout.js"></script>
        {{else}}
            <a href="/login" class="returnLink">You must be logged in to view this page</a>
        {{/if}}
    </div>
</main>