<div>

  <h2>New Post</h2>

  <form class="post-form">
    <div>
      <label for="post-title">Title</label>
      <textarea id="post-title" rows="1" class="form-control"></textarea>
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea id="post-content" rows="3" class="form-control"></textarea>
    </div>
    <div class="my-2">
      <button
        id="post-btn"
        type="submit"
        class="btn btn-primary"
      >Create</button>
    </div>
  </form>

</div>

<script src="/js/post.js"></script>