<section class="card m-2 border border-1 border-info">
    {{> post-details}}
</section> 

<div class="d-flex flex-column align-items-center justify-content-center">
    <h3 class="fs-5 fw-light">Comments</h3>
    {{#each (reverse comments) as |comment|}}
        <div class="card m-2 border border-1 border-info p-3 w-75">
            <p>{{comment.content}}</p>
            <div class="d-flex justify-content-between">
                <p class="fs-6 fst-italic fw-lighter">- {{comment.user.username}}, {{comment.date_created}}</p>
            </div>
        </div>
    {{/each}}
</div>
 